body{
	font-family: sans-serif;
	background: #b6e2db;
}
 
h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}
 
.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
}
 
label{
	font-size: 11pt;
}
 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_login{
	background: #5aecd4;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

 /* Dropdown Button */
 .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;} 

   /* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  } 
  table, th, td {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #232323;
  }

  * {
    margin: 0;
    padding: 0;
  }
   
  body {
    background-color: #eff1f2;
    font-family: sans-serif;
  }
   
  .content {
    grid-area: content;
  }
   
  .sidebar {
    grid-area: sidebar;
    background: linear-gradient(
      to right,
      rgba(200, 107, 142, 1),
      rgba(218, 105, 250, 1),
      rgba(110, 125, 253, 1)
    );
    justify-content: center;
  }
   
  .footer {
    grid-area: footer;
    background: white;
  }
   
  .container {
    font-size: 1.5em;
    width: 100%;
    height: 100;
    height: 100vh;
    display: grid;
    grid-template-areas: 'sidebar' 'content' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 130px 800px 250px;
  }
   
  .content,
  .sidebar,
  .footer {
    padding: 1em;
  }
   
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
   
  nav li {
    list-style: none;
    padding: 1em 0;
  }
   
  nav li a {
    color: white;
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
  }
   
  nav li a:hover {
    opacity: 1;
  }
   
  .hero {
    max-width: 90 px;
    margin: 0 auto;
    text-align: center;
  }
   
  .hero img {
    width: 200px;
  }
   
  .hero h1 {
    font-size: 2em;
    font-weight: 300;
    color: #373046;
  }
   
  .hero p {
    font-weight: 300;
    line-height: 1.3em;
    color: #98abad;
  }
   
  .action-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: #567bfb;
    padding: 0.5em 2em;
    border-radius: 60px;
    margin: 1em 0;
    transition: 0.3s;
  }
   
  footer ul {
    max-width: 640px;
    margin: 2em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
   
  footer ul li {
    list-style: none;
    align-self: flex-end;
  }
   
  footer ul li a {
    text-decoration: none;
    color: #c1c6ce;
  }
   
  footer ul li img {
    width: 30%;
  }
   
  footer p {
    font-size: 0.8em;
  }
   
  @media (min-width: 1040px) {
    .container {
      grid-template-areas: 'sidebar content' 'sidebar footer';
      grid-template-rows: 1fr auto;
      grid-template-columns: 300px 1f;
    }
   
    nav ul {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
   
    .sidebar {
      background: linear-gradient(
        rgb(59, 223, 223),
        rgb(238, 226, 241),
        rgba(110, 125, 253, 1)
      );
      padding-top: 10em;
    }
   
    .hero {
      text-align: left;
      margin: 7em 0;
    }
   
    .hero img {
      width: 200px;
      float: right;
    }
   
    .hero h1 {
      font-size: 3em;
    }
   
    .hero p {
      width: 60%;
    }
   
    footer ul {
      max-width: 900px;
      margin: 0 auto;
      padding: 1em 0;
    }
   
    footer ul li a img {
      width: 20%;
    }
  }
